.appointments-info{
  .item{
    height: 200px;
    width: 100%;
    background-color: white;
    box-shadow: 1px -1px 7px #00000085;
    border-radius: 5px;

    .header{
      width: 100%;
      height: 40px;
      background-color: #d7e2e8;
      border-radius: 5px 5px 0 0;
      color: #646f86;
    }

  }
}
