
.booking{
  font-family: $base-font;
  color: $base-font-color;
  .small-icon{
    width: 20px;
  }
  .service-overview{
    background-color: white;
    box-shadow: 1px -1px 7px #00000085;
    border-radius: 5px;
    .title{
      font: $medium-font 25px/30px $base-font;
      color: $base-font-color;
    }
  }
}
.under-line{
  width: 100%;
  border-bottom:1px solid lightgray;
}
