.create-appointments{
  width: 100%;
  background-color: white;
  box-shadow: 1px -1px 7px #00000085;
  border-radius: 5px;
  font-family: $base-font;
  color: $base-font-color;
  .providers{
    width: 30px;
    height: 30px;
  }
  .custom-select{
    background-color: #f7f9fc;
    color:#909bb3;
  }
  .b-calendar{
    min-width: 150px;
    width: 100%;
    .b-calendar-inner{
      min-width: 150px;
      width: 100%;
    }
  }
  .btn.border-0.rounded-circle.text-nowrap.active.btn-primary.font-weight-bold{
    background-color: #40c1ac;
  }
  .active-timer{
    background-color: #05aec7;
    border: 1px solid #05aec7;
    color: #ffff;
    font-weight: 500;
    border-radius: 5px;
  }
}
