

/* application wide font settings*/
@font-face {
  font-family: $base-font;
}

* {}

body {
  font-family: $base-font;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: $base-color;
}



